<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <script src="/static/js/ionic.js"></script>
  <script src="/static/js/htmx.min.js"></script>
  <link rel="stylesheet" href="/static/css/animate.min.css" />
</head>

<body>
  <ion-app>
    <ion-header>
      <ion-toolbar>
        <ion-title> asd </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-button hx-get="/test">Ciao</ion-button>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-title> Footer </ion-title>
      </ion-toolbar>
    </ion-footer>
  </ion-app>
</body>

</html>